.App {
  text-align: center;
}

.App-iconPerson {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
  top: 10vmin;
  z-index: 2; /*higher capa asi se mantiene por encima de los otros componentes */
}

/*no estoy segura que pinta esto pero no lo toques pq mueve el background*/
.App-header {
  background-color: #76c2af;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: calc(4px + 2vmin);
  color: white;
  position: relative;
}

.App-circle {
  position: absolute;
  width: 130vmin;
  height: 85vmin;
  background-color: white;
  border-radius: 50%;
  top: 0; /*only mitad del circulo visible*/
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 48vmin;  /* Ajustado para que el contenedor aparezca debajo del icono de la persona */
}

.input-rectangle {
  width: 400px;
  height: 40px;
  margin: 10px; /*spacing*/
  padding: 10px;
  border: none;
  border-radius: 20px; /* corners */
  background-color: #bcbefa; 
  color: #333;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.input-rectangle::placeholder {
  color: #666; /* texto dentro del rectangle */
}

.button-iniciarSesion {
  width: 200px;  
  height: 50px;       
  margin: 10px;       
  background-color: #bcbefa;
  color: #333;   
  border: none;      
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;      
  cursor: pointer;/*el cursor cambia para mostrar que puede clickearse*/
  transition: background-color 0.3s ease; /*click interaction*/
}

.button-iniciarSesion:hover {
  background-color: #9596bd; /*change de color al tener el cursor encima*/
}

.App-logoUAM {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2%;
  margin-left: 2%;
  height: 7vmin;
  z-index: 3; /*posicion over el circulo*/
}

