html, body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

.login {
  background-color: #FFFFFF;
  z-index: 0;
  position: relative;
}

:root{
  --font-family: 'Poppins', sans-serif;
}



.login-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.login-logoUAM {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1%;
  margin-left: 1%;
  height: 7vmin;
  z-index: 3; /*posicion over el circulo*/
}


.login-iconPerson {
  
  width: 101.25vmin;
  height: 85.885vmin;
  pointer-events: none;
  position: absolute;
  top: 10vmin;
  left: 15vmin;
  z-index: 2; /*higher capa asi se mantiene por encima de los otros componentes */
}

.login-circle {
  position: absolute;
  width: 90.189vmin;
  height: 62.5vmin;
  background-color: #D9D9D9;
  border-radius: 50%;
  top: 3.427vmin; 
  left: 25vmin;
  z-index: 1;
}




.login-container {
  width: 58vmin;
  height: 58vmin;
  display: flex;
  flex-direction: column;
  margin-left: 140vmin;
  margin-top: 20vmin;  /* Ajustado para que el contenedor aparezca debajo del icono de la persona */
  background-color: #D8FCFF;
  align-items: center;
  justify-content: center;
  border-radius: 3%;
}

.container-title{
  text-align: center;
  font-family: var(root);
  font-size: 16px;
  font-weight: bold;
  color: #353535;

}

.login-input-rectangle {
  width: 70%;
  height: 8%;
  margin: 10px; /*spacing*/
  padding: 10px;
  border: none;
  border-radius: 20px; /* corners */
  color: #333;
  font-family: var(root);
  font-size: 16px;
}

.login-input-rectangle::placeholder {
  color: #666; /* texto dentro del rectangle */
}

.login-button-iniciarSesion {
  width: 70%;  
  height: 50px;       
  margin: 10px;       
  background-color: #81B9F9;
  color: #333;   
  border: none;      
  border-radius: 20px;
  font-family: var(root);
  font-size: 16px;      
  cursor: pointer;/*el cursor cambia para mostrar que puede clickearse*/
  transition: background-color 0.3s ease; /*click interaction*/
}

.login-button-iniciarSesion:hover {
  background-color: #9596bd; /*change de color al tener el cursor encima*/
}

.cpr{
  font-family: var(root);
  font-size: 10px;
}


.login-error {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.login-error-image {
  width: 111.25vmin;
  height: 95.885vmin;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 15vmin;
  z-index: 2;
}