.user-identification-box {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas */
}

.verification-icon {
  display: flex; /* Usa flexbox para alinear imagen y texto */
  align-items: center; /* Centra los elementos verticalmente */
  flex-basis: 100%; /* Hace que ocupe el ancho completo */
  justify-content: center; 
}

.verification-icon img {
  width: 30px;
  height: 30px;
  margin-right: 10px; /* Espacio entre el icono y el texto */
}

.verification-text {
  font-size: 1em; /* Tamaño de fuente para el texto 'usuario identificado' */
  margin: 0; /* Remueve márgenes por defecto */
}


.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px; 
}

.user-details h3, .user-details p {
  margin: 0;
  font-size: 1.2em; /*fuente para el nombre */
}

.user-details p {
  font-size: 0.9em; 
}
