:root {
  --font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary);
}

/* HEADER: fixed at the top, taking full width */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; 
  background-color: var(--header-bg);
  padding: 0 1rem;
  box-sizing: border-box;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logoUAM {
  height: 30px;
  width: auto;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 2rem;
  font-family: var(--font-family);
}

.nav-links p {
  margin: 0;
  cursor: pointer;
  font-size: 16px;
  color: var(--header-text);
}

.nav-links p:hover {
  background-color: var(--header-hover);
  transition: background-color var(--header-hover) 0.3s ease;
  border-radius: 8px;
}

.icons-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.notification-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  filter: var(--icon);
}


.profile-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}
