:root {
  --font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

/* HEADER: fixed at the top, taking full width */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; 
  background-color: #BAEEF2;
  padding: 0 1rem;
  box-sizing: border-box;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoUAM {
  height: 30px;
  width: auto;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 2rem;
  font-family: var(--font-family);
}

.nav-links p {
  margin: 0;
  cursor: pointer;
  font-size: 16px;
  color: #303141;
}

.nav-links p:hover {
  background-color: #82cecb;
  transition: background-color #82cecb 0.3s ease;
  border-radius: 8px;
}

.icons-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.notification-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.profile-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}
